#root {
  max-width: 1440px;
  margin: 0 auto;
  // padding: 1rem;
}

.blur_card {
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  box-shadow: 0 15px 25px rgba(105, 104, 104, 0.2);
  height: var(100vh - 1vh);
  backdrop-filter: blur(14px);
  background-color: rgba(87, 87, 87, 0.507);
}

.weather_info_class {
  margin-left: 48px;
  display: flex;
  align-items: center;
  gap: 40px;
  h1 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 3rem;
  }
  .weather_country_class {
    h3 {
      font-size: 5.5rem;
      font-weight: 400;
      line-height: 5rem;
      margin: 0
    }
    span {
      font-size: 1.4rem;
      font-weight: 400;
      margin: 0;
    }
  }
  .weather_status_class {
    span {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0;
    }
    div {
      font-size: 4rem;
      font-weight: 400;
      line-height: 4.6rem;
      margin: 0;
    }
  }
}